<form method="post" action="/transactions/<%= @transaction.id%>/update">

  <label>
    Select a Company:
    <select name="company_id">
      <% for company in @companies %>
      <option value="<%= company.id %>"><%= company.name %></option>
      <% end %>
    </select>
  </label>
  <label>
    Select a label:
    <select name="type_id">
      <% for type in @types %>
      <option value="<%= type.id %>"><%= type.type %></option>
      <% end %>
    </select>
  </label>
  <label for="amount">Amount:
    <input type="number" name="amount" value="<%= @transaction.amount %>">
  </label>

  <input type="submit"  value="Update">
</form>


<form  method="post" action="/transactions/<%= @transaction.id %>/delete">
  <input class="button"type="submit" value="Delete Order">
</form>
